<h1>All Contacts</h1>

<ul>
<% @contacts.each do |contact| %>
  <li><a ref="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.note %></a></li>
<% end %>
</ul>